
.japon {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../img/japon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 70rem;
}
.canada {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../img/canada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 70rem;
}
.inglaterra {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../img/inglaterra.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 70rem;
}
.francia {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../img/francia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 70rem;
}
.mexico {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../img/mexico.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 70rem;
}
.holanda {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../img/holanda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 70rem;
}